/* global
****************************************/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  margin-bottom: 50px;
}

.box {
  padding: 20px;
  text-align: center;
  border: 2px solid #000;
}

.center {
  margin: 0 auto;
}

.container {
  margin-bottom: 10px;
}

/* header
****************************************/
header {
  margin-bottom: 20px;
  height: 75px;
  background-color: #245;
  color: #fff;
  vertical-align: middle;
}
header img {
  display: block;
  margin: 20px 0 0 50px;
}

/* circle
****************************************/
.circle {
  width: 200px;
  height: 200px;
  background-color: #92e144;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

/* triangle
**************************************/
.triangle {
  border-style: solid;
  border-color: red transparent #4491d2 transparent;
  border-width: 0 50px 50px 50px;
  width: 0;
  height: 0;
}

/* skew
**************************************/
.skew, .skew1, .skew2 {
  width: 100px;
  height: 200px;
  background-color: #e92949;
  -moz-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  -webkit-transform: skewX(15deg);
  transform: skewX(15deg);
}

/* skew-n
**************************************/
.skew1, .skew2 {
  -moz-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  transform: skewX(30deg);
  width: 40px;
}

.skew2 {
  -moz-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  -webkit-transform: skewX(-30deg);
  transform: skewX(-30deg);
  margin-top: -200px;
  background-color: #741424;
}
